@charset "UTF-8";

* {
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body { /* para criar um degradê*/
    background-image: linear-gradient(to right, #F2E8DF, #F2C6C2);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #5831318a; /*para o lado, para baixo, espalhar, cor e transparência*/
    width: 600px;
    padding: 10px;
    margin: auto;
    
}

h1 {
    color: #F28585;
    text-align: center; /* para o título ficar no meio*/
    text-shadow: 1px 1px 2px #47272783; /*para o lado, para baixo, espalhar, cor e transparência*/
}

h2 {
    color: #F2B263;
}

p {
    text-align: justify;
}