@charset "UTF-8" ;

body {
    background-image: linear-gradient(to right, #FFD3B6, #ffbfbc);
    font-family: Arial, Helvetica, -serif;
    font-size: 17px;
}

main {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    width: 1000px;
    margin: auto;
    box-shadow: 10px 10px 10px #94555b5e;
}

h1 {
    color: rgb(255, 148, 148);
    text-align: center;
    text-shadow: 2px 2px 5px #b96c733b;
    background-color: #ffede1;
    font-family: cursive;
    font-size: 50px;
}

h2 {
    background-color:antiquewhite ;
    color: rgb(240, 164, 113);
    font-family: cursive;
}

p {
    text-align: justify;
}

iframe {
    border-radius: 10px;
}

strong {
    color: rgb(255, 111, 135);
}

a{
    color: rgb(255, 111, 135);
}
